RewriteEngine On
RewriteBase /libertylaocai/

# Truy cập dạng SEO: /trangchu => view/php/trangchu.php
RewriteRule ^header$ view/php/header.php [QSA,L]
RewriteRule ^footer$ view/php/footer.php [QSA,L]
RewriteRule ^test$ view/php/test.php [QSA,L]
RewriteRule ^trangchu$ view/php/trangchu.php [QSA,L]
RewriteRule ^dat-phong$ view/php/danhsachphong.php [QSA,L]
RewriteRule ^event$ view/php/event.php [QSA,L]
RewriteRule ^pagedetail$ view/php/pagedetail.php [QSA,L]
RewriteRule ^khuyen-mai$ view/php/sale.php [QSA,L]
RewriteRule ^tin-tuc$ view/php/tintuc.php [QSA,L] 
RewriteRule ^su-kien-da-to-chuc$ view/php/event_organized.php [QSA,L] 

RewriteRule ^thu-vien$ view/php/gallery.php [QSA,L]
RewriteRule ^bar$ view/php/bar.php [QSA,L]
RewriteRule ^chitietphong$ view/php/chitietphong.php [QSA,L]
RewriteRule ^chitiettour$ view/php/chitiettour.php [QSA,L]
RewriteRule ^dich-vu$ view/php/dichvu.php [QSA,L]
RewriteRule ^gioithieu$ view/php/gioithieu.php [QSA,L]
RewriteRule ^nhahang$ view/php/nhahang.php [QSA,L]
RewriteRule ^gioi-thieu$ view/php/gioithieu.php [QSA,L]
RewriteRule ^dang-nhap$ view/php/login.php [QSA,L]
RewriteRule ^nhahang&bar$ view/php/nhahang&bar.php [QSA,L]

RewriteRule ^gioi-thieu$ view/php/gioithieu.php [QSA,L]
RewriteRule ^lien-he$ view/php/lienhe.php [QSA,L]
RewriteRule ^dieu-khoan$ view/php/dieukhoan.php [QSA,L]
RewriteRule ^quan-ly-phong$ view/php/quanlyphong.php [QSA,L]
RewriteRule ^quan-ly-bai-viet$ view/php/quanlybaiviet.php [QSA,L]
RewriteRule ^quan-ly-menu$ view/php/quanlymenu.php [QSA,L]
RewriteRule ^quan-ly-binh-luan$ view/php/quanlybinhluan.php [QSA,L]
RewriteRule ^quan-ly-thong-tin$ view/php/quanlythongtin.php [QSA,L]
RewriteRule ^quan-ly-dich-vu$ view/php/quanlydichvu.php [QSA,L]
RewriteRule ^quan-ly-tour$ view/php/quanlytour.php [QSA,L]
RewriteRule ^tai-khoan$ view/php/taikhoan.php [QSA,L]
RewriteRule ^quan-ly-anh$ view/php/quanlyanh.php [QSA,L]
RewriteRule ^quan-ly-lich-dat$ view/php/quanlydatphong.php [QSA,L]


RewriteRule ^user/submit$ controller/UserController.php  [QSA,L]

RewriteRule ^(phong-don|phong-doi|phong-triple|phong-gia-dinh)$ view/php/chitietphong.php?room=$1 [QSA,L]
RewriteRule ^(hoi-thao|hoi-nghi|hop-bao|tiec-cuoi|sinh-nhat|gala-dinner|su-kien-doanh-nghiep)$ view/php/pagedetail.php?page=$1 [QSA,L]
RewriteRule ^(nha-hang)$ view/php/nhahang.php?page=$1 [QSA,L]
RewriteRule ^(sky-bar)$ view/php/bar.php?page=$1 [QSA,L]
RewriteRule ^(dua-don|tour-sapa|tour-bac-ha|tour-y-ty|tour-ha-khau)$ view/php/chitiettour.php?page=$1 [QSA,L]
RewriteRule ^admin$ view/php/admin.php [QSA,L]


RewriteRule ^khuyen-mai/([^/]+)$ view/php/saledetail.php [QSA,L]
RewriteRule ^tin-tuc/([^/]+)$ view/php/chitiettintuc.php [QSA,L]
RewriteRule ^su-kien-da-to-chuc/([^/]+)$ view/php/chitietsukiendatochuc.php [QSA,L]
RewriteRule ^dich-vu/([^/]+)$ view/php/chitiettour.php [QSA,L]
RewriteRule ^quan-ly-tour/([^/]+)$ view/php/quanlytour.php [QSA,L]

RewriteRule ^$ view/php/trangchu.php [QSA,L]




