.logo-slider {
    overflow: hidden;
    background: #F8F8F8;
    padding: 10px 0;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1vh;
    border-radius: 10px;
    position: relative;
  }

  .logo-slider .logos {
      padding-left: 3vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-width: 100%;
      white-space: nowrap;
      transition: transform 0.5s ease-in-out; 
  }

  .logo-slider .logos div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 12vh;
      width: auto;
      max-width: 30vh;
      margin-right: 2.5vh;
      flex-shrink: 0;
  }

  .logo-slider .logos div a img {
      display: block;
      height: 14vh;
      width: auto;
      transform: scale(0.8);
      margin: 5px 0px;
      border-radius: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      border: 2px solid #E6E6E6;
  }
  .footer {
    display: block;
    margin:0;
    height: fit-content; 
    color: white;
    padding: 0;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #F59E0B, #D97706);
  }
  .footer .footer-container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      color: black;
  }
  .footer .footer-column {
      flex: 1;
      padding: 10px;
      min-width: 30vh;
      position: relative; 
      text-align: left;
      font-size: 16px;
  }
  .footer .footer-column:first-child{
    min-width: 50vh;
  }
  .footer-column h4 {
      padding: 1px;
      display: inline-block;
  }
  .footer-column .list i{
    display: none;
  }
  .footer-column p{
    font-size: 16px;
  }

  .footer-column ul {
      padding-left: 20px;
  }
  .footer-column ul li {
      margin: 8px 0;
  }
  .footer-column ul li a {
      font-size: 16px;
      display: inline-block;
      color: black;
      text-decoration: none;
  }
  .footer-column ul li a:hover{
    color: red;
    transition: 0.3s ease;
  }
  .social-icons a img {
      display: inline-block;
      margin: 5px;
      width: 4vh;
  }
  .social-icons a img:hover{
    transform:scale(1.2) ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .payment-icons img {
      display: inline-block;
      margin: 5px;
      width: 5vh;
      height: 5vh;
  } 

  .end-footer{
    max-width: 1200px;
    margin: 1vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
    border-bottom: 1px solid black;
    height: 100%;
  }
  .logo1, .noti {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
  }
  .logo-text1{
      white-space: nowrap;
      font-family: 'Press Start 2P', cursive;
      font-size: 28px;
      color: black;
      letter-spacing: 2px;
      font-weight: bold;
  }

  .logo1 img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-right: 10px;
  }
  .noti img{
      width: 200px;
      height: 80px;
  }

  .end-footer .footer-left{
    flex: 1.2;
    padding: 10px;
    position: relative; 
    text-align: left;
    font-size: 16px;
  }
  .text{
    font-size: 16px;
  }
  .text p{
    margin-bottom: 0.5vh;
  }
  .footer-right{
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-right iframe {
    padding: 5px;
    pointer-events: auto; 
    border: 0;
    width: 70vh;
    height: 60vh;
    border-radius: 10px;
  }
  .copyright{
    color: black;
  }

  @media (max-width:992px){
    .end-footer{
      display: flex;
      flex-direction: column; 
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .logo-text1{
        font-size: 24px !important;
    }

    .logo1 img {
        width: 70px !important;
        height: 70px !important;
        margin-right: 10px !important;
    }
    .noti img{
        margin-top: 1vh;
        width: 180px !important ;
        height: 70px !important;
    }
    .end-footer .footer-left{
      width: 100%;
      margin: 0 auto;
      padding: 0px !important;
      font-size: 18px;
    }
    .text{
      font-size: 15px !important;
    }
    .text p{
      margin-bottom: 0.3vh;
    }
    .footer-right{
      width: 100%;
    }
    .footer-right iframe {
      padding: 2px 0 !important;
      width: 100% !important;
      height: 30vh !important;
    }
    .copyright{
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    .logo-slider {
      padding: 5px 0;
      max-width: 100%;
      margin: 1vh auto 0 auto;
    }
  
    .logo-slider .logos {
        padding-left: 1vh;
    }
  
    .logo-slider .logos div {
        height: 13vh;
        max-width: 50%;
        margin-right: 1vh;
    }
  
    .logo-slider .logos div a img {
        height: 15vh;
        margin-left:-0.5vh;
    }

    .footer-container {
      text-align: center;
      flex-direction: column;
    }
    .footer-column{
      padding: 5px !important;
    }
    .list i{
      display: inline-block;
      cursor: pointer; 
      font-weight: bold;
      font-size: 18px;
    }
    .footer-column .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .footer-column ul {
        display: none; 
        padding-left: 15px;
    }
    .footer-column ul.active {
        display: block; 
    }

    .end-footer{
      display: flex;
      flex-direction: column; 
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .logo-text1{
        font-size: 24px !important;
    }

    .logo1 img {
        width: 70px !important;
        height: 70px !important;
        margin-right: 10px !important;
    }
    .noti img{
        margin-top: 1vh;
        width: 180px !important ;
        height: 70px !important;
    }
    .end-footer .footer-left{
      width: 100%;
      margin: 0 auto;
      padding: 0px !important;
      font-size: 18px;
    }
    .text{
      font-size: 15px !important;
    }
    .text p{
      margin-bottom: 0.3vh;
    }
    .footer-right{
      width: 100%;
    }
    .footer-right iframe {
      padding: 2px 0 !important;
      width: 100% ;
      height: 30vh !important;
    }
    .copyright{
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    .logo-slider {
      width: 100%;
      margin-top: 0.5vh;
    }
    .logo-slider .logos {
        padding-left: 0;
        grid-template-columns: repeat(1,2fr);
    }
    .logo-slider .logos div {
        grid-template-columns: repeat(1,2fr);
        height: 10vh;
        margin-right: 0.5vh;
    }
    .logo-slider .logos div a img {
        height: 9vh;
        width: auto;
        transform: scale(0.8);
        border-radius: 20px;
        margin: 0 -0.5vh;
    }
    .footer .footer-column {
        padding: 3px;
        font-size: 14px;
    }
    .footer .footer-column:first-child{
      min-width: 30vh;
    }
    .footer-column p{
      font-size: 14px;
    }
    .footer-column ul {
        padding-left: 10px;
    }
    .footer-column ul li {
        margin: 4px 0;
    }
    .footer-column ul li a {
        font-size: 14px;
    }
    .social-icons a img {
        width: 3vh;
    }
    .payment-icons img {
        width: 4vh;
        height: 4vh;
    } 

    .list i{
      display: inline-block;
      cursor: pointer; 
      font-weight: bold;
      font-size: 18px;
    }
    .footer-column .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .footer-column ul {
        display: none; 
        padding-left: 15px;
    }
    .footer-column ul.active {
        display: block; 
    }

    .end-footer{
      max-width: 100%;
      margin: 0 auto;
      height: 100%;
    }
    .logo-text1{
        font-size: 20px !important;
    }

    .logo1 img {
        border-radius: 50%;
        width: 60px !important;
        height: 60px !important;
        margin-right: 5px !important;
    }
    .noti img{
        width: 160px !important ;
        height: 60px !important;
    }
    .end-footer .footer-left{
      padding: 5px !important;
      font-size: 16px;
    }
    .text{
      font-size: 14px !important;
    }
    .text p{
      margin-bottom: 0.2vh;
    }
    .footer-right{
      width: 100%;
    }
    .footer-right iframe {
      padding: 1px 5px !important;
      width: 100% !important;
      height: 20vh !important;
      border-radius: 5px !important;
    }
    .copyright{
      color: black;
      font-size: 10px;
    }
  }