* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
  }
  
  html,body {
    height: 100%;
    margin: 0;
    background-color: #f5f7fa;
    padding: 0;
    line-height: 1.6;
  }

  .header {
    height: 10vh;
    width: 100%;
    background: linear-gradient(to right, #F59E0B, #D97706);
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

.logo {
    display: flex;
    align-items: center;
}
.logo-text{
    white-space: nowrap;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
}

.logo img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.search-container {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    width: 100%;
}

.search-container button {
    background: none;
    border: none;
    padding: 10px;
    color: black; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-container button i {
    border: none;
    font-size: 18px;
}
.search-container button i:hover{
    transform: scale(1.2);
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

.search-container1 {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    width: 100%;
    padding: 5px;
}

.search-container1 button {
    background: none;
    border: none;
    padding: 8px;
    color: black; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-container1 button i {
    border: none;
    font-size: 18px;
}

.search-container1 button i:hover {
    transform: scale(1.2);
}

.search-container1 .search-input1 {
    height: 100%;
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    color: #333;
}


.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F59E0B; 
    padding: 5px 15px;
    border-radius: 20px;
    height: 40px; 
    width: fit-content; 
    white-space: nowrap;
}

.contact-info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.contact-info a div:hover{
    color: red;
    transition: 0.5s ease;
    transform: scale(1.2);
}

.contact-info i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 16px;
}
.contact-info div {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}
.contact-text{
    color: black;
}

.contact-info div div:first-child {
    font-size: 12px;
}

.contact-info div div:last-child {
    font-size: 13px;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.header-icons a:hover {
    transform: scale(1.2);
}


.user-menu {
    position: relative; 
    display: flex;
    align-items: center;
}

.user-menu .dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-left: 0.5vh;
    cursor: pointer;
}

.user-menu .dropdown-menu {
    display: none; 
    position: absolute;
    left: 50%; 
    top: 100%; 
    transform: translateX(-50%);
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 15vh; 
    min-width: 10vh;
    z-index: 100;
    text-align: left;
    padding: 0;
}

.user-menu .dropdown-menu li {
    display: flex;
    list-style: none;
    padding: 0;
}

.user-menu .dropdown-menu a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: black; 
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap; 
    margin-left: 0;
}
.user-menu .dropdown-menu a img {
    width: 3vh;
    height: 3vh;
    margin-right: 1vh;
}

.user-menu .dropdown-menu a:hover {
    background: #F59E0B;
    transform: none;
}

.user-menu .dropdown-menu li form {
    width: 100%; 
    margin: 0;
    padding: 0;
}

.user-menu .dropdown-menu li form button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    border: none;
    background: none;
    color: black;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
    text-align: left;
}

.user-menu .dropdown-menu li form button img {
    width: 3vh;
    height: 3vh;
    margin-right: 1vh;
}

.user-menu .dropdown-menu li form button:hover {
    background: #F59E0B;
}






.category-nav {
    height:10vh;
    width: 100%;
    background: rgba(255, 165, 0, 0.2); 
    backdrop-filter: blur(10px); 
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    gap: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #D97706;
}

.category-nav a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    padding: 8px 15px;
    min-width: 140px;
}
.category-nav a:first-child{
    margin-left: 10px;
}

.category-nav a:hover {
    color: red;
    transform: scale(1.2);
} 
.category-nav .list{
    border: 2px solid black;
    border-radius: 20px;
    background: linear-gradient(to right, #F59E0B, #D97706);
}
.category-nav .search-container1{
    display: none;
}
@media (max-width:1200px) {
  .header{
    justify-content: space-between;
    padding: 0px 10px;
    height: 9vh;
  }
  .category-nav {
    height: 9vh;
    justify-content: space-between;
  }
  .category-nav .hidden {
    display: none;
  }
  .category-nav .list {
    margin-left: 0;
  }
  .search-container,.contact-info{
    display: none;
  }
  .category-nav .search-container1{
      display: flex;
  }
  .logo-text{
      font-size: 20px;
  }
  .logo img {
      width: 50px;
      height:50px;
  }
  .header-icons a {
      font-size: 25px;
      margin-left: 20px;
  }

    .user-menu .dropdown-menu {
        left: 47%; 
        top: 100%; 
        transform: translateX(-60%);
        width: 12vh; 
        min-width: 10vh;
    }

    .user-menu .dropdown-menu a {
        padding: 2px; 
        font-size: 12px;
    }

    .user-menu .dropdown-menu a img {
        width: 2vh;
        height: 2vh;
        margin-right: 0.5vh;
    }

  .category-nav .list{
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: none;
      border: 2px solid black !important;
      min-width: 3vh; 
      overflow: hidden;
      background: linear-gradient(to right, #F59E0B, #D97706);
  }
  .category-nav .list span{
    display: none;
  }
  .category-nav .list i{
      font-size: 26px;
      border: none;
      font-weight: bold;
  }
  .search-container1 {
    flex: 1;
    margin: 0 auto;
} 
  .search-container1 button i {
    border: none;
    font-size: 24px;
  }
  .search-container1 button i:hover {
      transform: scale(1.2);
  }
  .search-container1 .search-input1 {
      font-size: 22px;
  }
}

@media (max-width:768px) {
  .header{
    justify-content: space-between;
    padding: 0px 10px;
    height: 8vh;
  }
  .category-nav {
    height: 7vh;
    justify-content: space-between;
  }
  .logo-text{
      font-size: 16px;
  }
  .logo img {
      width: 50px;
      height:50px;
  }
  .header-icons a {
      font-size: 24px;
      margin-left: 28px;
  }
  .category-nav .list{
      border: 2px solid black !important;
      min-width: 3vh; 
      overflow: hidden;
      background: linear-gradient(to right, #F59E0B, #D97706);
  }
  .category-nav .list i{
      font-size: 22px;
      border: none;
      font-weight: bold;
  }
  .search-container1 button i {
      font-size: 20px;
  }
  .search-container1 button i:hover {
      transform: scale(1.2);
  }
  .search-container1 .search-input1 {
      font-size: 20px;
  }

    .user-menu .dropdown-menu {
        left: 50%; 
        transform: translateX(-50%);
        width: 12vh; 
        min-width: 10vh;
    }

    .user-menu .dropdown-menu a {
        padding: 2px; 
        font-size: 11px;
    }

    .user-menu .dropdown-menu a img {
        width: 3vh;
        height: 3vh;
        margin-right: 0.2vh;
    }

    .user-menu .dropdown-menu li form button {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 2px;
        border: none;
        background: none;
        color: black;
        font-size: 11px;
        font-weight: bold;
        white-space: nowrap;
        cursor: pointer;
        text-align: left;
    }
    
    .user-menu .dropdown-menu li form button img {
        width: 3vh;
        height: 3vh;
        margin-right: 0.2vh;
    }
    
    .user-menu .dropdown-menu li form button:hover {
        background: #F59E0B;
    }
}
@media (max-width:480px){
    .header{
      justify-content: space-between;
      padding: 0px 10px;
      height: 7vh;
    }
    .category-nav {
      height: 6vh;
      justify-content: space-between;
    }
    .category-nav .search-container1{
        display: flex;
    }
    .logo-text{
        font-size: 14px;
    }
    .logo img {
        width: 50px;
        height:50px;
    }
    .header-icons a {
        font-size: 20px;
        margin-left: 30px;
    }
    .category-nav .list{
        border: 2px solid black !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 2vh; 
        overflow: hidden;
        background: linear-gradient(to right, #F59E0B, #D97706);
    }
    .category-nav .list i{
        font-size: 20px;
        border: none;
        font-weight: bold;
    }
    .search-container1 button i {
        font-size: 16px;
    }
    .search-container1 button i:hover {
        transform: scale(1.2);
    }
    .search-container1 .search-input1 {
        font-size: 16px;
    }

    .user-menu .dropdown-menu {
        width: 9vh; 
        left: 50%;  
        transform: translateX(-54%);
    }

    .user-menu .dropdown-menu a {
        padding: 2px; 
        font-size: 12px;
    }

    .user-menu .dropdown-menu a img {
        width: 2vh;
        height: 2vh;
        margin-right: 0.2vh;
    }

    .user-menu .dropdown-menu li form button {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 2px;
        border: none;
        background: none;
        color: black;
        font-size: 12px;
        font-weight: bold;
        white-space: nowrap;
        cursor: pointer;
        text-align: left;
    }
    
    .user-menu .dropdown-menu li form button img {
        width: 2vh;
        height: 2vh;
        margin-right: 0.2vh;
    }
    
    .user-menu .dropdown-menu li form button:hover {
        background: #F59E0B;
    }
}