* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
  }
  
  html,body {
    height: 100%;
    margin: 0;
    background-color: #f5f7fa;
    padding: 0;
    line-height: 1.6;
  }

  header{
    width: 100%;
    background: linear-gradient(to right, #F59E0B, #D97706);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 10vh;
    max-width: 1200px;
    padding: 0;
    color: white;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .logo-text{
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .logo img {
      border-radius: 50%;
      width:8vh;
      height: auto;
      margin-right: 0.5vh;
  }

  .search-container, .search-container1 {
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin: 0 1.5vh;
      border-radius: 20px;
      background: #fff;
      overflow: hidden;
      width: 100%;
  }

  .search-container button , .search-container1 button {
      background: none;
      border: none;
      padding: 6px;
      color: black; 
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  }

  .search-container button i , .search-container1 button i {
      border: none;
      font-size: 18px;
  }
  .search-container button i:hover, .search-container1 button i:hover{
      transform: scale(1.2);
  }

  .search-input, .search-input1 {
      flex: 1;
      border: none;
      outline: none;
      padding: 4px;
      font-size: 16px;
      color: #333;
  }
  .contact-info {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F59E0B; 
      padding: 5px 4px;
      border-radius: 20px;
      height: 5vh; 
      width: fit-content; 
      white-space: nowrap;
  }

  .contact-info a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
  }
  .contact-info a div:hover{
      color: red;
      transition: 0.5s ease;
      transform: scale(1.2);
  }

.contact-info i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 16px;
}
.contact-info div {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}
.contact-text{
    color: black;
}

.contact-info div div:first-child {
    font-size: 12px;
}

.contact-info div div:last-child {
    font-size: 13px;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons a {
    display: flex ;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0 1vh;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    padding: 0px;
    height: 4vh;
    width: 4vh;
    overflow: hidden;
    border-radius: 50%;
    background: #D3D3D3 ;
}
.header-icons a i{
  margin: 0;
  height: 4vh;
}

.header-icons a:hover {
    transform: scale(1.2);
}

.user-menu {
    position: relative; 
    display: flex;
    align-items: center;
}

.user-menu .dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-left: 0.5vh;
    cursor: pointer;
}

.user-menu .dropdown-menu {
    display: none; 
    position: absolute;
    left: 50%; 
    top: 100%; 
    transform: translateX(-50%);
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 15vh; 
    min-width: 10vh;
    z-index: 100;
    text-align: left;
    padding: 0;
}

.user-menu .dropdown-menu li {
    display: flex;
    list-style: none;
    padding: 0;
}

.user-menu .dropdown-menu a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: black; 
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap; 
    margin: 0;
    background: white;
    border-radius: 0;
}

.user-menu .dropdown-menu a img {
    width: 3vh;
    height: 3vh;
    margin-right: 1vh;
}

.user-menu .dropdown-menu a:hover {
    background: #F59E0B;
    transform: none;
}

.category-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height:auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5vh 0 0 0;
    gap: 1vh;
    white-space: nowrap;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    border-top: 1px solid white;
}

.category-nav a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    padding: 4px 10px;
    min-width: 140px;
}
.category-nav a:hover {
    color: red;
} 

.category-nav .big-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 140px; */
}

.category-nav .big-menu .list {
  height: 100%;
  color: black;
  font-weight: bold;
  transition: 0.3s;
  padding: 8px 15px;
  border: none;
  border-radius: 10px 10px 0 0;
  background: #D3D3D3;
  cursor: pointer;
  font-size: 16px;
}

.category-nav .big-menu .list:hover{
  color: red;
}

.category-nav .search-container1{
    display: none;
}


.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  display: none;
  z-index: 999; 
}
.menu-dropdown {
  box-sizing: border-box;
  height: 70vh;
  position: fixed;
  top: 15vh; 
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000; 
}
.menu-dropdown.active,
.menu-overlay.active {
  display: flex;
}

.menu-dropdown-left{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  background-color: #F4F4F4;
}
.menu-dropdown-left-top{
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  height: auto;
  border-bottom: 1px solid #ddd;
}
.menu-dropdown-left-top button{
  cursor: pointer;
  margin:0 1.5vh;
  border: none;
}
.menu-dropdown-left-top button.active{
  border-bottom: 5px solid #F59E0B;
  border-radius: 5px;
}
.menu-in-dropdown{
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: "Arial", sans-serif;
  font-weight: 100;
  height: 6vh;
}
.menu-in-dropdown:hover{
  color: red;
}
.menu-dropdown-left-top button:first-child .menu-in-dropdown {
  font-weight: bold;
}
.menu-in-dropdown img{
  margin: 0 1vh;
  align-items: flex-end;
  width: auto;
  height: 80%;
}
.menu-dropdown-left-bot{
  flex-grow: 1;
  /* overflow: auto; */
  overflow: hidden;
  width: 95%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  border-bottom: 10px solid #F59E0B;
}
.menu-dropdown-left-bot .menu-item{
  height: 100%;
  width: 100%;
  margin-bottom: 2vh;
  padding: 0 15px;
}
.menu-dropdown-left-bot .menu-item .item{
  justify-content: flex-start;
  font-family: "Arial", sans-serif;
  color: #898989;
  text-decoration: none;
  display: flex;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom:1vh ;
}
.menu-dropdown-left-bot .menu-item .item:first-child{
  color: black;
  font-weight: 600;
  margin-bottom: 2vh;
}
.menu-dropdown-left-bot .menu-item .item:hover{
  color: red;
}
.menu-dropdown-right{
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
}
.menu-dropdown-right-top{
  display: flex;
  width: 100%;
  height: 60%;
}
.menu-dropdown-right-top .top{
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.menu-dropdown-right-top .top .menu-top-1{
  height: fit-content;
  width: 100%;
}
.menu-dropdown-right-top .top .menu-top-1 img{
  width: 100%;
  height: auto;
}
.menu-dropdown-right-top  .menu-top-2 {
  height: 100%;
  padding: 10px;
  flex-grow: 1;
  width: 100%;
  background-color: #F59E0B;
  border-radius: 0 0 5px 5px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}
.menu-dropdown-right-top  .menu-top-2 p:hover{
  color: red;
}
.menu-dropdown-right-bot{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.menu-dropdown-right-bot .menu-option{
  display: flex;
  justify-content: space-between;
  margin: 1vh;
  font-size: 15px;
}
.menu-dropdown-right-bot .menu-option a{
  text-decoration: none;
  color: #898989;
}
.menu-dropdown-right-bot .menu-option a:hover{
  color: red;
}

@media (max-width:1200px){
  .menu-dropdown {
    height: fit-content;
    top: 5vh; 
  } 
  .menu-dropdown-left-top button{
    margin:0.5vh;
  }
  .menu-in-dropdown{
    font-size: 15px;
    height: 4vh;
  }
  .menu-in-dropdown img{
    margin: 0vh;
  }
  .menu-dropdown-left-bot{
    flex-grow: 1;
    overflow: auto;
    /* overflow: hidden; */
    width: 95%;
    margin: 10px auto;
  }
  .menu-dropdown-left-bot .menu-item{
    height: 100%;
    width: 100%;
    margin-bottom: 0vh;
    padding: 0 15px;
  }
  .menu-dropdown-left-bot .menu-item .item{
    font-size: 13px;
    margin-bottom:0.5vh ;
  }
  .menu-dropdown-left-bot .menu-item .item:first-child{
    margin: 0.5vh 0 1vh 0;
  }

  .menu-dropdown-right-top  .menu-top-2 {
    font-size: 12px;
  }
  .menu-dropdown-right-bot{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .menu-dropdown-right-bot .menu-option{
    margin: 0.5vh;
    font-size: 14px;
  }
}


@media (max-width:768px){
  .menu-dropdown {
    height: 100vh;
    top: 0vh; 
    left: 0;
    width: 75%;
    display: none;
    flex-direction: column;
  }
  .menu-dropdown-left{
    height: auto;
    width: 100%;
    background: white;
  }
  .menu-dropdown-left-top{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: auto;
    border-bottom: none;
    padding: 2px;
  }
  .menu-dropdown-left-top button{
    width: 100%;
    height: fit-content;
    margin:2px;
    border: none;
    background: gainsboro;
  }
  .menu-dropdown-left-top button.active{
    border-bottom:none ;
  }
  .menu-in-dropdown{
    font-family: "Verdana", sans-serif;;
    font-size: 13px;
    font-weight: 600;
    height: 5vh;
  }
  .menu-dropdown-left-top button:first-child .menu-in-dropdown {
    font-weight: 600;
  }
  .menu-in-dropdown img{
    margin: 0 0.5vh;
    align-items: flex-end;
    width: auto;
    height: 60%;
  }
  .menu-dropdown-left-bot{
    display: none;
  }
  .menu-dropdown-left-bot.active{
    display: flex;
    flex-direction: column;
    border-bottom:none;
  }
  .menu-dropdown-left-bot .back-button{
    display: flex;
    border: none;
    margin-bottom: 2vh;
    background: none;
  }
  .menu-dropdown-left-bot .sub-back-button{
    display: flex;
    border: none;
    margin-bottom: 2vh;
    background: none;
  }
  .menu-dropdown-left-bot.active .menu-item{
    height: auto;
    padding: 0;
    margin: 0.5vh 0;
  }
  .menu-dropdown-left-bot .menu-item .item{
    display: none;
  }
  .menu-dropdown-left-bot .menu-item .item:first-child{
    font-family: Arial ,sans-serif;
    display: flex;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    background: gainsboro;
    align-items: center !important;
  }
  .menu-dropdown-left-bot .menu-item .item:first-child .plus-icon{
    font-size: 24px;
    font-weight: 200;
    margin-left: auto;
  }
  .menu-dropdown-left-bot .menu-item .item:first-child.active{
    display: none;
  }
  .menu-dropdown-left-bot .menu-item .item:not(:first-child).active{
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 16px;
    font-weight: 500;
    background: gainsboro;
    padding: 1vh;
  }


  .menu-dropdown-right{
    width: 100%;
  }
  .menu-dropdown-right-top{
    display: none;
  }
  .menu-dropdown-right-bot{
    margin-top: 2vh;
    height: auto;
    width: 100%;
  }
  .menu-dropdown-right-bot .menu-option{
    display: flex;
    justify-content: space-between;
    margin: 0 1vh 0.5vh 1vh;
    font-size: 18px;
  }
  .menu-dropdown-right-bot .menu-option a{
    font-family: "Verdana", sans-serif;
    color: black;
    font-size: 14px;
  }
  .menu-in-dropdown .plus-icon{
    font-size: 20px;
    font-weight: 200;
    margin-left: auto;
  }
}


@media (max-width:480px){
  .menu-dropdown {
    height: 100vh;
    top: 0vh; 
    left: 0;
    width: 75%;
    display: none;
    flex-direction: column;
  }
  .menu-dropdown-left{
    height: auto;
    width: 100%;
    background: white;
  }
  .menu-dropdown-left-top{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: auto;
    border-bottom: none;
    padding: 2px;
  }
  .menu-dropdown-left-top button{
    width: 100%;
    height: fit-content;
    margin:2px;
    border: none;
    background: gainsboro;
  }
  .menu-dropdown-left-top button.active{
    border-bottom:none ;
  }
  .menu-in-dropdown{
    font-family: "Verdana", sans-serif;;
    font-size: 13px;
    font-weight: 600;
    height: 5vh;
  }
  .menu-dropdown-left-top button:first-child .menu-in-dropdown {
    font-weight: 600;
  }
  .menu-in-dropdown img{
    margin: 0 0.5vh;
    align-items: flex-end;
    width: auto;
    height: 60%;
  }
  .menu-dropdown-left-bot{
    display: none;
  }
  .menu-dropdown-left-bot.active{
    display: flex;
    flex-direction: column;
    border-bottom:none;
  }
  .menu-dropdown-left-bot .back-button{
    display: flex;
    border: none;
    margin-bottom: 2vh;
    background: none;
  }
  .menu-dropdown-left-bot .sub-back-button{
    display: flex;
    border: none;
    margin-bottom: 2vh;
    background: none;
  }
  .menu-dropdown-left-bot.active .menu-item{
    height: auto;
    padding: 0;
    margin: 0.5vh 0;
  }
  .menu-dropdown-left-bot .menu-item .item{
    display: none;
  }
  .menu-dropdown-left-bot .menu-item .item:first-child{
    font-family: Arial ,sans-serif;
    display: flex;
    height: 100%;
    font-size: 12px;
    font-weight: 500;
    background: gainsboro;
    align-items: center !important;
  }
  .menu-dropdown-left-bot .menu-item .item:first-child .plus-icon{
    font-size: 20px;
    font-weight: 200;
    margin-left: auto;
  }
  .menu-dropdown-left-bot .menu-item .item:first-child.active{
    display: none;
  }
  .menu-dropdown-left-bot .menu-item .item:not(:first-child).active{
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 12px;
    font-weight: 500;
    background: gainsboro;
    padding: 1vh;
  }


  .menu-dropdown-right{
    width: 100%;
  }
  .menu-dropdown-right-top{
    display: none;
  }
  .menu-dropdown-right-bot{
    margin-top: 2vh;
    height: auto;
    width: 100%;
  }
  .menu-dropdown-right-bot .menu-option{
    display: flex;
    justify-content: space-between;
    margin: 0 1vh 0.5vh 1vh;
    font-size: 15px;
  }
  .menu-dropdown-right-bot .menu-option a{
    font-family: "Verdana", sans-serif;
    color: black;
    font-size: 12px;
  }
  .menu-in-dropdown .plus-icon{
    font-size: 20px;
    font-weight: 200;
    margin-left: auto;
  }
}




@media (max-width:1200px) {
  .header{
    padding: 0px;
    height: auto;
  }
  .header-icons a {
    margin: 0 0.5vh;
    font-size: 20px;
    padding: 0px;
    height: 4vh;
    width: 4vh;
  }
  .header-icons a i{
    font-size: 2vh;
    width: auto;
    height: 3vh;
  }
  
  .category-nav {
    padding: 0.5vh;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }
  .category-nav .hidden {
    display: none;
  }
  .category-nav .list span{
    display: none;
  }
  .category-nav .big-menu .list {
    border-radius: 0.5vh;
    padding: 0;
  }

  .category-nav .list i{
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vh;
    border: none;
    font-weight: bold;
  }

  .search-container,.contact-info{
    display: none;
  }
  .category-nav .search-container1{
      display: flex;
  }

  .search-container1 {
    flex: 1;
    margin: 0 auto;
    border-radius: 2vh;
    width: 100%;
  }

  .search-container1 button {
    padding: 2px;
  }
 .search-container1 button i {
    border: none;
    font-size: 3vh;
  }
  .search-input1 {
      padding: 0.5vh;
      font-size: 18px;
  }
  .logo img {
      width: 8h;
      height:auto;
  }
  .logo-text{
    font-size: 19px;
  }

  .user-menu .dropdown-menu {
    left: 50%; 
    top: 100%; 
    transform: translateX(-60%);
    width: 12vh; 
    min-width: 10vh;
  }

  .user-menu .dropdown-menu a {
      padding: 2px; 
      font-size: 12px;
  }

  .user-menu .dropdown-menu a img {
      width: 2vh;
      height: 2vh;
      margin-right: 0.5vh;
  }
  .user-menu .dropdown-toggle {
    display: none;
}
}

@media (max-width:768px) {
    .header{
      padding: 0px;
      height: auto;
    }
    .logo-text{
      font-size: 14px;
    }
    .logo img {
        width: 5vh;
        height:auto;
    }
    .header-icons a {
        margin: 0 0.5vh;
        font-size: 16px;
        padding: 0px;
        height: 4vh;
        width: 4vh;
        background: #D3D3D3 ;
    }
    .header-icons a i{
      height: 3vh;
      width: auto;
    }
    
    .category-nav {
      padding: 0.5vh;
      height: auto;
      justify-content: space-between;
      align-items: center;
    }
    .category-nav .search-container1{
        display: flex;
    }
    .category-nav .big-menu .list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        background: #D3D3D3;
        border-radius: 0.5vh;
        padding: 0;
    }
    .category-nav .list i{
        width:100% ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        border: none;
        font-weight: bold;
    }
    .search-container1 {
      margin: 0;
      border-radius: 1vh;
      width: 100%;
    }
    .search-container1 button {
      padding: 2px;
    }
   .search-container1 button i {
      border: none;
      font-size: 14px;
  }
   .search-input1 {
      padding: 0.5vh;
      font-size: 16px !important ;
  }
  .user-menu .dropdown-toggle {
      display: none;
  }
}
@media (max-width:480px){
    .header{
      padding: 0px;
      height: auto;
    }
    .logo-text{
      font-size: 14px;
    }
    .logo img {
        width: 5vh;
        height:auto;
    }
    .header-icons a {
        margin: 0 0.5vh;
        font-size: 16px;
        padding: 0px;
        height: 4vh;
        width: 4vh;
        background: #D3D3D3 ;
    }
    .header-icons a i{
      height: 3vh;
      width: auto;
    }
    
    .category-nav {
      padding: 0.5vh;
      height: auto;
      justify-content: space-between;
      align-items: center;
    }
    .category-nav .search-container1{
        display: flex;
    }
    .category-nav .big-menu .list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        background: #D3D3D3;
        border-radius: 0.5vh;
        padding: 0;
    }
    .category-nav .list i{
        width:100% ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        border: none;
        font-weight: bold;
    }
    .search-container1 {
      margin: 0;
      border-radius: 1vh;
      width: 100%;
    }
    .search-container1 button {
      padding: 2px;
    }
   .search-container1 button i {
      border: none;
      font-size: 14px;
  }
   .search-input1 {
      padding: 0.5vh;
      font-size: 16px !important ;
  }
  .user-menu .dropdown-toggle {
      display: none;
  }
}